@import url("../lib/ionic/release/css/ionic.css");


.test-view .item-radio .item-content {
    padding-left: 3px;
    padding-right: 28px;
}

.card-question .item-radio.checked .item-content  {
    background-color: #BAFFBC;
}

.bar .button.next-button {
    transform: translate3d(0px, 0px, 0px);
    font-weight:normal;
}

.bar .button.next-button span {
    display: inline-block;
}

.card-use-mouse {
    display: inline-block;
}

.card-use-mouse .item {
    background-color: #DEF7F7;
}