<ion-view view-title="Питання #{{question.id}}/{{questionsCount}}" class="text-center">

    <ion-nav-buttons side="secondary">
        <button ng-click="next()" ng-show="question.selectedAnswerId" class="button button-clear header-item next-button">
            <span class="bact">Далі</span>
            <i class="icon icon-right ion-ios-arrow-forward"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="card card-save-error" ng-show="lastSaveError">
            <div class="item assertive item-text-wrap item-icon-left item-icon-right">
                <i class="icon ion-alert-circled"></i>
                <div>Відповідь не збережена:</div>
                <div ng-bind="lastSaveError"></div>
                <i class="icon ion-alert-circled"></i>
            </div>
        </div>

        <div class="card card-question" ng-show="question.text">
            <div class="item item-divider item-icon-right">
                <div class="item-content item-text-wrap" ng-bind="question.text"></div>
                <i class="icon ion-help"></i>
            </div>

            <label class="item item-radio" ng-repeat="(answerId, answer) in question.answers" ng-dblclick="next();hideDblClickInfo();" ng-class="{checked:question.selectedAnswerId==answerId}">
                <input type="radio" name="answer" ng-model="question.selectedAnswerId" ng-value="answerId">
                <div class="item-content item-text-wrap" ng-bind="answer.text"></div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

        <button class="button icon icon-right ion-ios-arrow-forward" ng-click="next()" ng-disabled="!question.selectedAnswerId">
            Наступне питанння
        </button>

        <div ng-if="dblClickInfo">
            <div class="card card-use-mouse">
                <div class="item item-text-wrap">
                    <i class="icon ion-information-circled"></i>
                    Подвійний клік на відповіді - для переходу до наступного питання
                </div>
            </div>
       </div>

    </ion-content>
</ion-view>